p {
color:blue;
background-color: yellow;    
}
h1 {
font-family: serif;
}
h2 {
font-family: sans-serif;
}
p {
    font-family: monospace;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
}
p {
   line-height: 16px;
   letter-spacing: 2px;
   word-spacing: 5px;
   text-indent: 30px;
}
h1 {
    background-image: url(sobre-background.jpg);
}
body{
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande',  sans-serif;
}
